<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('opened')"
               (closed)="events.push('closed')">
    <h2 class="search-criteria-title">
      Search Criteria {{selectedType}}
    </h2>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select (selectionChange)="petFilterChange()" [(ngModel)]="selectedType">
        <mat-option *ngFor="let type of filterListTypes" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>All Sexes</mat-label>
      <mat-select>
        <mat-option *ngFor="let type of sexes" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>All Age Groups</mat-label>
      <mat-select>
        <mat-option *ngFor="let type of ages" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>All Breeds</mat-label>
      <mat-select>
        <mat-option *ngFor="let type of breeds" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>All Locations</mat-label>
      <mat-select>
        <mat-option *ngFor="let type of locations" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <i *ngIf="'opened' == findNavBarStatus()" (click)="sidenav.toggle()" class="font-awesome-nav fa fa-arrow-left fa-7x" aria-hidden="true"></i>
    <i *ngIf="'closed' == findNavBarStatus()" (click)="sidenav.toggle()" class="font-awesome-nav fa fa-arrow-right fa-7x" aria-hidden="true"></i>
    <div style="text-align:center">
      <h1 class="petfinder-title">
        Petfinder
      </h1>
    </div>

    <div *ngIf="pets.length > 0">
      <div class="polaroid" *ngFor="let pet of pets; let i = index">
        <img class="hover-on-link" (click)="openPetInfo(pet.id)"
          src={{pet.img}} alt="Smiley face" width="450" height="330">
        <div class="container">
          <i class="awesome-icon fa fa-flag fa-2x" aria-hidden="true"></i>
          <i class="awesome-icon fa fa-eye-slash fa-2x" (click)="hidePet(i, pet.id)" aria-hidden="true"></i>
          <h1 class="hover-on-link"
              (click)="openPetInfo(pet.id)"> {{pet.name}} </h1>
        </div>
      </div>
    </div>
    <div *ngIf="pets.length < 1">
      {{pets.length}}
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
