div.polaroid {
  width: 450px;
  float: left;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
}

img {width: 450px}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.awesome-icon {
  padding: 0px 7px 0px 7px;
}

.hover-on-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
