div.polaroid {
  width: 450px;
  float: left;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
}

img {width: 450px}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.awesome-icon {
  padding: 0px 7px 0px 7px;
}

.hover-on-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.petfinder-title {
  font-size: 50px;
  display: inline;
}

.search-criteria-title {
  font-size: 30px;
  margin-right: 40px;
  margin-left: 30px;
}

mat-form-field {
  font-size: 25px;
  margin-left: 65px;
  width: 400px;
}

.mat-form-field-wrapper {
  width: 350px;
  margin-right: 100px;
}

mat-sidenav {
  width: 600px;
}

.font-awesome-nav {
  font-size: 50px;
  float: left;
}

mat-select {
  margin-right: 30px;
  margin-left: 40px;
}
