<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <h2 class="search-criteria-title">
      Search Criteria
    </h2>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select (selectionChange)="petFilterChange()" [(ngModel)]="selectedType">
        <mat-option *ngFor="let type of filterListTypes" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>All Sexes</mat-label>
      <mat-select>
        <mat-option *ngFor="let type of sexes" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>All Age Groups</mat-label>
      <mat-select>
        <mat-option *ngFor="let type of ages" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>All Breeds</mat-label>
      <mat-select>
        <mat-option *ngFor="let type of breeds" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>All Locations</mat-label>
      <mat-select>
        <mat-option *ngFor="let type of locations" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <i (click)="sidenav.toggle()" class="font-awesome-nav fa fa-bars" aria-hidden="true"></i>
    <div style="text-align:center">
      <h1 class="petfinder-title">
        <i id="title-icon" class="awesome-icon fa fa-binoculars" aria-hidden="true" (click)="printCount()"></i> PetWatch
      </h1>
    </div>

    <div *ngIf="pets.length > 0">
      <div class="polaroid" *ngFor="let pet of pets; let i = index">
        <img class="hover-on-link" (click)="openPetInfo(pet.id)"
          src={{pet.img}} width="273" height="200">
        <div class="container">
          <i [ngClass]="{'watched-pet': pet.status == 'W'}"
              class="hover-on-icon awesome-icon fa fa-heart fa-2x" aria-hidden="true"
              (click)="watchPetToggle(i, pet.id, pet.status)"></i>
          <i class="hover-on-icon awesome-icon fa fa-times fa-2x" (click)="hidePet(i, pet.id)" aria-hidden="true"></i>
          <h1 class="hover-on-link"
              (click)="openPetInfo(pet.id)"> {{pet.name}} </h1>
        </div>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
